.header {
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/claire-green.jpg") no-repeat center center fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px 0 40px 0px;
}

.about-wrapper h2 {
	color: #D04395;
	font-size: 2em;
	margin: 20px 0 50px 0;
}

#title-highlight {
	color: #55D6B4;
}

.about-first-block {
	display: flex;
	flex-direction: row;
}

.about-second-block {
	display: flex;
	flex-direction: row;
}

.about-images {
	width: 57.5vw;
	height: 100vh;
}

#about-first-image {
	background: url("../images/claire-kb.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

#about-second-image {
	background: url("../images/claire-blue.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

.about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 40px; 
	max-width: 700px;
}

#about-column {
	flex-direction: column;
}

#about-column .blockquote {
	margin: 20px 0 0 20px;
}

.blockquote {
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blockquote p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	max-width: 520px;
}

@media screen and (max-width: 1023px) {
	.about-first-block {
		flex-direction: column;
    justify-content: center;
    align-items: center;
  }
	.about-second-block {
		flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-images {
  	width: 80%
  }
  #about-first-image {
  	height: 80vh;
  }
  #about-second-image {
  	display: none;
  }
  .about-wrapper h2{
  	margin-bottom: 20px;
  }
  #about-cta{
  	margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
	.about-wrapper {
		padding: 0 20px;
	}
/*	.about-first-block .about-text {
	}*/
	.about-second-block .about-text {
		padding: 0 10px;
	}
	.quote {
		margin-bottom: -20px;
	}
	.blockquote {
  	flex-direction: column;
  	text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.about-images {
		width: 100vw;
	}
	#about-first-image {
		height: 70vh;
	}
}
