.header {
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/claire-purple.jpg") no-repeat center center fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

h1 {
	margin: 0;
}

form {
	width: 400px;
}

label {
  margin:30px 0;
  position:relative;
}

label span {
	min-width: 150px;
  pointer-events: none;
  position:absolute;
  left:0;
  top:0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.6;
}

input {
	border-width: 0 0 2px 0;
  border-color: #b74286;
  width: 100%;
  font-size: 1em;
  font-family: 'Quicksand', arial, sans-serif;
}

input:focus {
	outline: none;
	border-color: #55d6d6;
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-150%) translateX(-25px);
}

/* For IE Browsers*/
input:focus + span, input:not(:-ms-input-placeholder) + span {
  opacity:1;
  transform: scale(0.75) translateY(-150%) translateX(-25px);
}

form p {
	margin-bottom: 0px;
}

textarea {
	margin-top: 20px;
	font-family: 'Quicksand', arial, sans-serif;
	color: #000;
	font-size: 0.9em;
	border-color: #b74286;
	width: 393px;
}

textarea:focus {
	outline: none;
  border-color: #55d6d6;
}

#name-fields{
	display: flex;
  flex-direction: row;
/*  justify-content: space-between;*/
}

.red {
	color: red;
}

#first-name {
 	width: 70%;
}

#last-name {
	width: 230px;
}

#email {
	margin-bottom: 30px;
}

#saveForm {
	margin-top: 5px;
  width: 150px;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
  text-transform: uppercase;
  background-color: #b74286;
  color: #fff;
  border: solid #b74286;
  padding: 15px 18px 12px 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#saveForm:hover {
	background-color: #b74286cf;
}

#saveForm:focus {
	background-color: #b74286cf;
}

.hide {
	display: none;
}

.contact-wrapper {
	margin: 40px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0 40px;
}

.contact-wrapper h2 {
	color: #b74286;
	font-size: 2em;
	margin: 20px 0 30px 0;
}

.consult-form {
	display: flex;
	flex-direction: column;
}

.contact-info {
	display: flex;
	flex-direction: column;
}

.map {
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/map.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.map-no-overlay {
	background: url("../images/map.jpg") no-repeat center center;
}

.map-info {
	background-color: rgba(0,0,0,0.4);;
	border: solid white 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 80%;
}

.map-info-hide {
	display: none;
}

#map-link {
	text-decoration: none;
}

.map-info p {
	font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 900px) {
	.contact-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	form {
		margin: 0 auto 30px auto;
	}
}

@media screen and (max-width: 425px){
	form {
		width: 100%;
	}
	#last-name {
		width: 100%;
	}
	textarea {
		width: 100%;		
	}
}

@media screen and (max-width: 400px){
	#investment {
		height: 130px;
	}
}