body {
	margin: 0px;
  background-color: #fff;
  font-family: 'Quicksand', arial, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.hamburger {
	position: absolute;
	top: 8px;
	right: 0;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 10;
}

.hamburger:focus{
	outline: none;
}

.hamburger:hover {
  opacity: 0.8;
}

.hamburger.is-active:hover {
  opacity: 0.8;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}	

.navigation {
	height:0;
  -webkit-transition:height 200ms ease-in;
  -moz-transition:height 200ms ease-in;
  -o-transition:height 200ms ease-in;
  transition:height 200ms ease-in;
	background-color: rgba(0,0,0,0.8);
  border: white 5px solid;
  position: absolute;
  right: -5px;
  top: -10px;
  overflow: hidden;
  z-index: 5;
}

.navigation ul {
	margin: 75px 19px 0 19px;
	padding: 0;
}

.navigation li {
	font-family: 'Josefin Sans', sans-serif;
	font-size:22px;
	text-transform: uppercase;
	list-style-type: none;
	padding: 0;
	margin: 15px 0;
	color: #fff;
	text-align: right;
}

.nav-menu {
	visibility: hidden;
	opacity: 0;
  transition: visibility 0s, opacity 200ms ease-in;
  -webkit-transition: visibility 0s, opacity 200ms ease-in;
  transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
}

.navigation li:hover {
	color: #55d6d6;
}

.navigation a {
	text-decoration: none;
}

.nav-menu.is-open {
	visibility: visible;
	opacity: 1;
}

.navigation.is-open {
	height: 230px;
}

.nav-logo {
	position: absolute;
	top: 15px;
	left: 15px;
	border: solid white 4px;
	z-index: 20;
}

.nav-logo:hover {
	border-color: #55d6d6;
}

.nav-logo p {
	margin: 7px 5px 3px 5px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.6em;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

.nav-logo a{
	text-decoration: none;
}

footer {
	height: 150px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  position: relative;
}

.footer-logo:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 5px solid #b74286;
  background: #b74286;
  width: 100%;
  transform: translateY(-50%);
  z-index: 0;
}
 
.footer-logo span {
	background: #fff;
	z-index: 5;
}

.footer-logo a {
	text-decoration: none;
}

.footer-border {
	border: solid #b74286 5px;
	margin: 14px 0;
	color: #b74286;
	flex-direction: column;
}

.footer-border:hover{
	border-color: #55d6d6;
}

.footer-heading {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 5px 5px 0 5px;
}

#footer-sub-heading {
  font-size: 14px;
  margin: 0 0 3px 0;
}

.footer-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 16px;
}

.footer-list a {
	text-decoration: none;
}

.footer-list p {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #b74286;
}

.footer-list p:hover {
	color: #55d6d6;
}

h1, h2{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 120px;
	flex: none;
	align-content: center;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
}

h1{
	margin-bottom: 0px;
}

h2{
	font-size:55px;
	margin-top: 10px;
}

p {
	font-size: 18px;
}

.cta-block {
	display: flex;
  flex-direction: column;
  margin: 40px 0;
  align-items: center;
}

#cta-header {
	color: #b74286;
	display: flex;
	text-align: center;
	max-width: 700px;
	margin-top: 40px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.3em;
	text-transform: uppercase;
}

.cta-buttons {
	display: flex;
	flex-direction: row;
}

.btn {
	margin: 5px;
  min-width: 200px;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
  text-transform: uppercase;
  background-color: #b74286;
  color: #fff;
  border: solid #b74286;
  padding: 15px 18px 12px 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.btn-primary:hover {
	background-color: #b74286cf;
}

.btn-secondary {
	border-color: #55d6d6;
	background: none;
  color: #55d6d6;
}

.btn-secondary:hover {
	border-color: #b74286;
}

.quote {
	font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 90px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
	color: #55d6d6;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/ohp.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

.header-border {
	display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
	border: solid white 15px;
	height: 100vh;
  margin: 2em;
  background-color: rgba(250,250,250,0.2);
}

.mission {
	text-align: center;
	max-width: 700px;
	margin: 40px auto;
}

.emphasis {
	font-size: 1.17em;
	font-weight: bold;
}

.home-blocks-wrapper {
	display: flex;
	flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 10px;
}

.home-blocks {
	display: flex;
  justify-content: center;
  align-items: center;
	margin: 0px;
	width: 400px;
  height: 400px;
}

.blocks-space {
	margin: 0px 10px 20px 10px;
}


.home-blocks p {
  width: 340px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  opacity: 1;
  font-size: 2.5em;
  margin: 0px;
  background-color: rgba(250,250,250,0.2);
  border: solid white 7px;
  padding: 100px 0px 90px 0px;
}

.home-blocks-wrapper a {
	text-decoration: none;
}

.block-hover {
	border-color: #55d6d6 !important;
}

#testimonials {
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/barbell.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

#packages {
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/ropes.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

#about {
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/claire-blue.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

@media screen and (max-width: 1100px) {
	.header-border {
		height: 61vh;
	}
}

@media screen and (max-width: 768px) {
	h1{
		font-size: 15vw;
	}
	h2 {
		font-size: 6vw;
	}
	.header-border {
		width: 85vw;
	}
	.navigation {
		background-color: rgba(0,0,0,0.9);
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
		width: 100vw;
		border: none;
	  position: absolute;
	  top: 0px;
	  left: 0px;
	}
	.navigation.is-open {
		height: 100vh;
	}
	.navigation ul {
		margin: 0;
		padding: 0;
	}
	.navigation li {
		font-size: 9vw;
		margin:50px 0;
		text-align: center;
	}
	.mission {
		padding: 0 20px;
	}
}

@media screen and (max-width: 560px) {
	.cta-buttons {
		flex-direction: column;
	}
	.footer-list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 0;
		margin-bottom: 20px;
	} 
}

@media screen and (max-width: 425px) {
	header h1 {
		font-size: 14vw;
	}
	.home-blocks p {
		font-size: 2em;
	}
	.header-border {
    border: solid white 8px;
  }
}

@media screen and (max-width: 400px) {
	nav.menu {
		width: 100%;
		right: -100%; 
	}
	.home-blocks {
    width: 100vw;
  }
  .home-blocks p {
  	width: 85%;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
  .footer-list {
  	justify-content: center;
  	margin-top: 5px;
}